body {
    background-image: url('https://www.expat.com/images/guide-cover/indonesia-hero_size-t1524808170.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(4, 29, 23, 0.5);
    padding: 50px;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 5px 3px rgb(106, 104, 104);
    border-radius: 15px;
}

.login h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: -20px;
}

.box-login {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid white;
    padding: 8px 0;
}


.box-login input {
    width: 85%;
    padding: 2px 0;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    background: rgb(247, 125, 81);
    border: 2px solid rgb(247, 125, 81);;
    border-radius: 30px;
    width: 92.5%;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-register {
    margin-left: 10px;
    margin-bottom: 20px;
    background: rgb(247, 125, 81);
    border: 2px solid rgb(247, 125, 81);;
    border-radius: 30px;
    width: 92.5%;
    padding: 9px;
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

::placeholder {
    color: white;
    font-size: 16px;
}

