<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINISTRATOR PAGE | Balidest</title>

    <link rel="icon" href="{{ url_for('static', filename='LogoBalidest.ico') }}" type="image/x-icon" />
    <meta property="og:title" content="Balidest" />
    <meta property="og:description"
        content="Website ini bertujuan sebagai sumber informasi tentang destinasi wisata di Bali. Nama Balidest merupakan kependekan dari Bali Destinasi. Balidest menyediakan informasi dan ulasan dari para wisatawan yang telah mengunjungi destinasi yang ditampilkan." />
    <meta property="og:image" content="{{ url_for('static', filename='nav.png') }}" />
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Shantell+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter&family=Shantell+Sans:wght@300&family=Tilt+Neon&display=swap"
        rel="stylesheet">
    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            margin: 0;
            padding-bottom: 50px;
            font-family: 'Bitter', serif;
            font-family: 'Shantell Sans', cursive;
            font-family: 'Tilt Neon', cursive;
        }

        .sidebar {
            width: 300px;
            min-height: 100vh;
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
        }

        .main {
            justify-content: center;
            text-align: center;
            margin-left: 480px;
        }

        .title {
            width: fit-content;
            font-size: 43px;
            font-weight: 900;
            color: darkblue;
            /* margin-left: 100px; */
            padding-top: 50px;
            padding-bottom: 30px;
        }

        .containers {
            width: 550px;
            height: auto;
            box-shadow: 0px 0px 3px 0px gray;
            padding: 25px;
            /* padding-left: 50px; */
            border-radius: 12px;
            background-color: white;
            font-family: 'Bitter', serif;
            font-family: 'Shantell Sans', cursive;
            font-family: 'Tilt Neon', cursive;
            margin-left: 25px;
            float: left;
        }

    </style>

    <script>

        function toggleReadMore(button) {
            let cardBody = $(button).closest('.card-body');
            cardBody.toggleClass('read-more');
            let readMoreButton = $(button);
            if (cardBody.hasClass('read-more')) {
                readMoreButton.text('Read Less');
            } else {
                readMoreButton.text('Read More');
            }
        }


        document.getElementById('input-btn').addEventListener('click', function () {
            // Menghapus kelas 'active' dari semua elemen <li>
            var listItems = document.querySelectorAll('.nav-item');
            listItems.forEach(function (item) {
                item.classList.remove('active');
            });

            // Menambahkan kelas 'active' pada tombol User
            this.classList.add('active');

            // Mengarahkan ke halaman daftar_user.html
            window.location.href = '/input_destinasi';
        });

        document.getElementById('review-btn').addEventListener('click', function () {
            // Menghapus kelas 'active' dari semua elemen <li>
            var listItems = document.querySelectorAll('.nav-item');
            listItems.forEach(function (item) {
                item.classList.remove('active');
            });

            // Menambahkan kelas 'active' pada tombol User
            this.classList.add('active');

            // Mengarahkan ke halaman daftar_user.html
            window.location.href = '/daftar_review';
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <div class="container-fluid d-flex flex-row px-0">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
                style="font-family: 'Bitter', serif; font-family: 'Shantell Sans', cursive; font-family: 'Tilt Neon', cursive;">
                <a href="/" class="d-flex align-items-center mx-5 mb-3 mb-md-0 link-body-emphasis text-decoration-none">

                    <!-- <span class="fs-4">Sidebar</span> -->
                    <p style="font-size: 40px; font-weight: 900; color: darkblue;">Sidebar</p>
                </a>
                <br>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li id="input-btn">
                        <a href="/input_destinasi" class="nav-link link-body-emphasis" style="font-size: 18px;">
                            <i class="fa fa-home" style="font-size: 28px;"></i>
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Destinasi
                        </a>
                    </li>
                    <li id="nav-item">
                        <a href="#" class="nav-link active" aria-current="page" style="font-size: 18px;">
                            <i style='font-size:21px' class='fas'>&#xf0c0;</i>
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            User
                        </a>
                    </li>
                    <li id="review-btn">
                        <a href="/daftar_review" class="nav-link link-body-emphasis" style="font-size: 18px;"><i
                                style='font-size:28px' class='fas'>&#xf682;</i>
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Review
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#"
                        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false" style="padding: 5px;">
                        <img src="{{url_for('static', filename='/profil_admin/admin.png')}}" alt="" width="32"
                            height="32" class="rounded-circle me-2">
                        <strong>Balidest | Admin</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item signout" href="/admin/logout" style="justify-content: center; text-align: center; color: rgb(47, 47, 250); font-weight: 700;">Sign out</a></li>
                    </ul>
                    <footer>
                        <p class="text-center text-body-secondary"
                            style="font-family: 'Bitter', serif; font-family: 'Shantell Sans', cursive; font-family: 'Tilt Neon', cursive; padding-top: 25px;">
                            © 2023 Balidest</p>
                    </footer>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main">
            <div class="title">
                <p style="margin-left: 70px;" class="d-flex justify-content-center align-items-center">ADMINISTRATOR
                    PANEL</p>
            </div>

            <!-- TABLE USER LIST -->
            <div class="d-flex justify-content-center" style="margin-left: 31px;">
                <div class="containers">
                    <p style="font-size: 25px; text-align: center; color: darkblue;"><b>TABLE DAFTAR USER</b></p>

                    <table class="table">
                        <thead class="thead-light" style="color: darkblue">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nickname</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-box" style="color: darkblue">
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.nick }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- TABLE USER LIST END -->
            </div>
        </div>
    </div>
</body>

</html>