<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUSA PENIDA | Balidest</title>
    <!-- Link bootstrap CDN untuk menggunakan bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Shantell+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter&family=Shantell+Sans:wght@300&family=Tilt+Neon&display=swap"
        rel="stylesheet">
    <!-- css internal untuk mengatur design dari halaman -->

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .log {
            background-color: darkblue;
            color: rgb(247, 125, 81);
            padding: 7px 7px;
            border-radius: 7px;
            border: 2px solid whitesmoke;
            font-size: 15px;
        }
        
        .detail {
            color: darkblue;
            font-family: 'Bitter', serif;
            font-family: 'Shantell Sans', cursive;
            font-family: 'Tilt Neon', cursive;
        }

        .namedetail {
            font-family: 'Bitter', serif;
            font-family: 'Shantell Sans', cursive;
            color: darkblue;
            text-shadow: 1px 1px 2px rgb(247, 125, 81);
            padding-top: 20px;
        }

        .justify-content-center {
            font-family: 'Bitter', serif;
            font-family: 'Shantell Sans', cursive;
            font-family: 'Tilt Neon', cursive;
        }
    </style>


</head>

<body>
    <!-- Navbar -->

    <div class="container-fluid px-0">

        <header class="d-flex flex-wrap justify-content-center py-3 mb-0 border-bottom shadow"
            style="background-color: rgb(247, 125, 81); height: 72px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="fs-4 text-nav fw-bold"
                    style="font-family: 'Bitter', serif;
                font-family: 'Shantell Sans', cursive; font-size: 20px; color: darkblue; font-weight: 800;">BaliDest</span>
            </a>

            <ul class="nav nav-pills"
                style="font-family: 'Bitter', serif; font-family: 'Shantell Sans', cursive; font-family: 'Tilt Neon', cursive;">
                <li class="nav-item"><a href="#" class="nav-link"
                        style="font-size: 17px; color:darkblue"><b>Home</b></a></li>
                <li class="nav-item"><a href="#headline" class="nav-link"
                        style="font-size: 17px; color:darkblue"><b>Headline</b></a>
                </li>
                <li class="nav-item"><a href="#about" class="nav-link"
                        style="font-size: 17px; color:darkblue"><b>About</b></a></li>
                <span>
                    <li class="nav-item" style="padding-top: 8px; padding-right: 12px; padding-left: 14px;">
                        <a href="/login" class="log" style="font-size: 17px;">
                            <i class='fas'>&#xf2bd;
                            </i><b> Login</b>
                        </a>
                    </li>
                </span>
            </ul>
        </header>

    </div>

    <!-- DESTINASI -->
    <div>
        <div class="container-fluid px-0">
            <div class="container col-xxl-8 px-4 py-5 ">
                <div class="jumbotron jumbotron-fluid">

                    <!-- PANTAI KELINGKING -->
                    <div class="container">
                        <h1 class="d-flex fw-bold "
                            style="font-family: 'Bitter', serif;
                    font-family: 'Shantell Sans', cursive; color: rgb(247, 125, 81); text-shadow: 1px 1px 2px darkblue; padding-top: 20px;">
                            Pantai Kelingking</h1>
                        <div class="container text-center">
                            <div class="row row-cols-2" style="display: block; margin-left: auto; margin-right: auto;">
                                <img src="https://awsimages.detik.net.id/community/media/visual/2020/09/19/pantai-kelingking.jpeg?w=1000"
                                    style="width: 300px; height: 200px;">
                                <img src="https://asset.kompas.com/crops/5WXmIjPLHkI60fF3Vr5EYACVONE=/0x0:780x520/750x500/data/photo/2020/11/16/5fb214bc2d6ee.jpg"
                                    style="width: 300px; height: 200px;">
                            </div>
                        </div>
                        <p></p>
                        <p class="justify-content-center">
                            Pantai Kelingking merupakan salah satu terindah yang terletak di Pulau Nusa Penida, Bali.
                            Pantai ini menjadi bagian eksotis Pulau Nusa Penida, sehingga menjadi favorit para turis.
                        </p>
                        <p class="justify-content-center">
                            Pantai Kelingking merupakan pantai yang menyerupai jari kelingking, namu tak sedikit
                            berpendapat bahwa pantai tersebut mirip Tyrannosaurus Rex (T-Rex).
                            Hal ini tidak lain karena, pintu masuk yang terletak di sebuah tebing dengan bukit memanjang
                            serta menjorok ke arah laut tampak seperti jari kelingking.
                            Pemandangan Pantai Kelingking dari atas adalah pemandangan eksotis Tebing Paluang, atau
                            disebut juga Karang Dewa. Tebing membuat cekungan masuk ke dalam pantai.
                        </p>
                    </div>

                    <div class="container text-center">
                        <div class="row row-cols-4">
                            <div class="col">
                                <i class="fa-solid fa-feather" style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Daya Tarik</h5>
                                <p class="detail"> Pantai Kelingking menawarkan pendakian dan penyewaan perahu bagi yang
                                    berminat.
                                    Selain itu, pantai ini menyediakan spot foto yang menarik bagi wisatawan.
                                </p>
                            </div>
                            <div class="col ">
                                <i class="fa-solid fa-route" style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Alamat</h5>
                                <p class="detail">Pantai Kelingking terletak di pesisir barat daya Nusa Penida</p>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-hotel" style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Fasilitas</h5>
                                <p class="detail">Parkir, Toilet/WC/Kamar Mandi, Restoran/Food Court</p>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-calendar-days"
                                    style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Jam Operasional</h5>
                                <p class="detail">Pantai Kelingking terbuka 24 jam untuk pengunjung sepanjang tahun.
                                    Namun, penting dicatat pantai mungkin ditutup selama musim hujan, saat air pasang,
                                    atau saat kondisi laut memburuk karena alasan keamanan.</p>
                            </div>
                        </div>
                    </div>

                    <!-- PANTAI CRYSTAL BAY -->
                    <div class="container">
                        <h1 class="d-flex fw-bold "
                            style="font-family: 'Bitter', serif;
                    font-family: 'Shantell Sans', cursive; color: rgb(247, 125, 81); text-shadow: 1px 1px 2px darkblue; padding-top: 20px;">
                            Pantai Crystal Bay</h1>
                        <div class="container text-center">
                            <div class="row row-cols-2" style="display: block; margin-left: auto; margin-right: auto;">
                                <img src="https://awsimages.detik.net.id/community/media/visual/2022/10/28/crystal-bay-nusa-penida-2.jpeg?w=1024"
                                    style="width: 300px; height: 200px;">
                            </div>
                        </div>
                        <p></p>
                        <p class="justify-content-center">
                            Crystal Bay Nusa Penida merupakan pantai dengan panjang garis bibir sekitar 200 meter dan
                            lebar mencapai 15 meter.
                            Pantai satu ini terletak di sebelah tenggara Pulau Bali yang dipisahkan Selat Badung.
                            Crystal Bay Nusa Penida sendiri memiliki banyak keindahan alam hingga dikenal sebagai salah
                            satu pantai yang indah di Bali.</p>
                        <p class="justify-content-center">
                            Meski diberi nama Crystal Bay Nusa Penida, pantai ini lebih dikenal atau disebut sebagai
                            Pantai Penida.
                            Crystal Bay sendiri pada dasarnya adalah nama populer yang diberikan oleh wisatawan asing.
                        </p>
                    </div>

                    <div class="container text-center">
                        <div class="row row-cols-4">
                            <div class="col">
                                <i class="fa-solid fa-feather" style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Daya Tarik</h5>
                                <p class="detail"> Pantai Crystal Bay menawarkan aktivitas scuba diving atau snorkling.
                                    Selain itu, pantai ini menyediakan pemandangan utuh teluk indah yang dinamakan
                                    Crystal Bay Point
                                </p>
                            </div>
                            <div class="col ">
                                <i class="fa-solid fa-route" style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Alamat</h5>
                                <p class="detail">Crystal Bay terletak di Teluk Penida atau tepatnya Banjar Penida.</p>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-hotel" style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Fasilitas</h5>
                                <p class="detail">Parkir, Toilet/WC/Kamar Mandi, Restoran/Food Court</p>
                            </div>
                            <div class="col">
                                <i class="fa-solid fa-calendar-days"
                                    style='font-size:50px; color:rgb(247, 125, 81)'></i>
                                <h5 class="namedetail">Jam Operasional</h5>
                                <p class="detail">Pantai Crystal Bay terbuka 24 jam untuk pengunjung sepanjang tahun.
                                    Namun, penting dicatat pantai mungkin ditutup selama musim hujan, saat air pasang,
                                    atau saat kondisi laut memburuk karena alasan keamanan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>